<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Calculadora IMC </title>
</head>
<body>
  <h1> Calculadora IMC </h1>
  <form action="/" method="POST">
    <div>
      <label for="height"> Altura </label><br>
      <input type="number" name="height" id="height" step="0.01" required>
    </div>
    <div>
      <label for="weight"> Peso </label><br>
      <input type="number" name="weight" id="weight" step="0.01" required>
    </div>
    <button type="submit"> Calcular IMC </button>
  </form>
	<!-- 
		Aqui estamos renderizando uma variavel enviada pelo Flask 
		Utilizando a sintaxe do Jinja.
	-->
  <p> IMC: {{ imc }} </p>
  <p> Categoria: {{ categoria }} </p>
</body>
</html>