.submit-contato {
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 43px;
    transition: 0.5s;
    background-color: black;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: 15%;
}

.submit-contato:hover {
    background-color: white;
    color: black;
}

.form-item {
    flex: 1;
    align-items: center;
    justify-content: start;
}
