<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eric</title>
    {% block meta %}
    {% endblock %}
    <link rel="stylesheet" href="/static/css/estilo.css">
</head>
<body>
    <nav>
        <a href="/">Principal</a>
        <a href="/sobre-mim">Sobre mim</a>
        <a href="/experiencia">Experiência Profissional</a>
        <a href="/contato">Contato</a>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>

    <footer>
        <div>
            <p>Me conheça nas minhas redes sociais</p>
            <a href="https://github.com/EricWARodrigues" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/eric-william-alvim-rodrigues-4149a1205/" target="_blank">Linkedin</a>
        </div>
    </footer>
</body>
</html>